<%= div_for comment, :class => 'well well-sm' do %>
  <p><strong><%= h(comment.body) %></strong><br />
    <span class="pull-right">Posted <%= time_ago_in_words(comment.created_at) %> ago</span>
  </p>
<% end %>

